In [1]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}
def update_employee_record(rec):
    old_sal = rec['salary']
    new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] = new_sal
    state_code = rec['state_code']
    rec['state_name'] = STATE_CODE_MAP[state_code]
input_data = [
    {'employee_name': 'Susan', 'salary': 100000.0,
     'state_code': 'WA'},
    {'employee_name': 'Ellen', 'salary': 75000.0,
     'state_code': 'TX'},
]
for rec in input_data:
    update_employee_record(rec)
    name = rec['employee_name']
    salary = rec['salary']
    state = rec['state_name']
    print name + ' now lives in ' + state
    print '   and makes $' + str(salary)

Susan now lives in Washington
   and makes $105000.0
Ellen now lives in Texas
   and makes $78750.0

In [3]:
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"
multi_line_string = """line 1
line 2"""
print a_string
print same_as_previous
print an_empty_string
print w_a_single_quote
print multi_line_string
print "ABCD"[0]
print "ABCD"[0:2]
print "ABCD"[1:3]
print "ABCD"[0]
print "ABCD"[0:2]
print "ABCD"[1:3]
print "ABCD"[1:]
print "ABCD"[:-1]

hello
hello

hello's
line 1
line 2
A
AB
BC
A
AB
BC
BCD
ABC

In [5]:
 def sqr(x):
       "This function just squares its input "
       return x * x

print sqr(25)

625

In [10]:
my_list = ["a ", "b ", "c "]
print my_list[0] # prints "a "
my_list[0] = "A " # changes that element of the list my_list.append("d ") # adds new element to the end
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
print mixed_list
original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]
squares_of_evens = [x*x for x in original_list if x%2==0]
print squares_of_evens

a
['A ', 5.7, 'B ', [1, 2, 3]]
[4, 16, 36, 64]

In [12]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
"name": ["Bob", "Alex", "Janice"],
"age": [60, 25, 33]
})

# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)
print df
print df_below50
print median_age

# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print df_w_name_as_ind.index # prints their names

bobs_row = df_w_name_as_ind.loc["Bob"]
print bobs_row["age"] # prints 60

   age    name  age_plus_one  age_times_two  age_squared  over_30
0   60     Bob            61            120         3600     True
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True
   age    name  age_plus_one  age_times_two  age_squared  over_30
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True
33.0
Index([u'Bob', u'Alex', u'Janice'], dtype='object', name=u'name')
60

In [13]:
 # import Pandas. I always alias it as pd
import pandas as pd
s = pd.Series([1,2,3]) # make Series from list
# display the values in s
# note index is to the far left
print s
print s+2
print s.index
print s+pd.Series([4,4,5])

bobs_row = df_w_name_as_ind.loc["Bob"]
print type(bobs_row)
#<class 'pandas.core.series.Series'>
print bobs_row

0    1
1    2
2    3
dtype: int64
0    3
1    4
2    5
dtype: int64
RangeIndex(start=0, stop=3, step=1)
0    5
1    6
2    8
dtype: int64
<class 'pandas.core.series.Series'>
age                60
age_plus_one       61
age_times_two     120
age_squared      3600
over_30          True
Name: Bob, dtype: object